numpy==1.20.2
pandas==1.2.3
pd==0.0.1
python-dateutil==2.8.1
pytz==2021.1
selenium==3.141.0
six==1.15.0
urllib3==1.26.4
apparmor==3.0.1
appdirs==1.4.4
application-utility==1.3.2
asn1crypto==1.4.0
btrfsutil==5.11.1
CacheControl==0.12.6
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==3.4.7
cupshelpers==1.0
distlib==0.3.1
distro==1.5.0
dnspython==1.16.0
docopt==0.6.2
html5lib==1.1
idna==3.1
isc==2.0
keyutils==0.6
LibAppArmor==3.0.1
louis==3.17.0
Markdown==3.3.4
msgpack==1.0.2
netsnmp-python==1.0a1
npyscreen==4.10.5
numpy==1.20.2
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.21.0
pep517==0.10.0
Pillow==8.1.2
ply==3.11
progress==1.5
pwquality==1.4.4
pycairo==1.20.0
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.6
PyGObject==3.40.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.8.1
pysmbc==1.0.23
python-dateutil==2.8.1
python-libtorrent==1.2.11
pytz==2021.1
PyYAML==5.4.1
rados==2.0.0
rbd==2.0.0
reportlab==3.5.66
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
rgw==2.0.0
six==1.15.0
team==1.0
toml==0.10.2
udiskie==2.3.3
urllib3==1.26.4
webencodings==0.5.1
